import { defineConfig } from 'drizzle-kit';

export default defineConfig({
  schema: './db/schema',
  out: './db/migrations',
  dialect: 'sqlite',
  dbCredentials: {
    url: process.env.VERADMIN_DB_PATH || '.veradmin-dev/veradmin.dev.sqlite'
  }
});
